@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600;700&family=Roboto:wght@500&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.contenedor_gloval{
    display: flex;
    flex-direction: column;
    align-items:center ;
    overflow: hidden;
    /* justify-content: end; */
    position: relative;
    width: 428px;
    height: 926px;

    left: 0px;
    top: 0px;



    background: #EEF1F4;
}

.icono_central{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2);
    top: calc(50% - 24px/2 - 1px);

}

header{
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 50px;


    text-align: center;
}

.header_letras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 339px;
    height: 183px;
    left: 0px;
    top: 0px;

    margin-top: 525px;
    

}

.Titular{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    margin-bottom:0px ;

    text-align: center;

    color: #000000;
}

/* h2{
    margin-top:20px ;
} */
.Secundario{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
}
.start{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 66.93px;
    left: 44.5px;
    top: 231px;
    margin-top: 48px;


    background: #667080;


    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.letras_start{

    width: 55px;
    height: 21px;
    left: 142.5px;
    top: 255px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}
.contenedor_communyti{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    overflow: hidden;
    width: 428px;
    height: 926px;
    left: 747px;
    top: 82px;

    background: #F8F8F8;

    box-shadow: 0px 20px 104px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
header{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    margin-top: 66px;
}

.header_menu{
margin-left: 24px;
}

.header_user{
 margin-left: 321px;
}

main{
    padding-left: 24px;
}
.h2_comuniti{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;

    color: #000000;
}

.main_ventanas1{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
}

.main_marcoNew{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;

    width: 383.34px;
    height: 157.91px;
    left: 0px;
    top: 0px;

    background: #EEF1F4;

    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18.31px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 13px;
}
.main_marcoNew2{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;

    width: 383.34px;
    height: 157.91px;
    left: 0px;
    top: 0px;

    background: #EEF1F4;

    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18.31px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 13px;
}

.h2_Arrivals{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;

    color: #000000;
    margin-top: 28px;
}

.main_ventanas2{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
}

.main_marco_Arrivals1{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start;
    justify-content: flex-start; */

    width: 302.1px;
    height: 353.59px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 18.3089px;
}

.conrat{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: end;
    padding-right: 18.4px;
    padding-top: 18.4px;
}

.icon_arrivals{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2);
    top: calc(50% - 24px/2 - 1px);
}

.corazon{

    width: 38.91px;
    height: 38.91px;
    left: 244.88px;
    top: 18.39px;
    
}

.contener_letras_arriv{

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content:end;
    padding: 0px;

    width: 100%;
    height: 50%;

    margin-left: 22.9px;
    margin-bottom: 31.2px;

}

.marco_arriv_letras{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-transform: uppercase;

    color: #262525;                                 
}

.marco_arriv_letras2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    text-transform: uppercase;

    margin-top: 16px;

    color: #667080;

}

.main_marco_Arrivals2{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start;
    justify-content: flex-start; */

    width: 302.1px;
    height: 353.59px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 18.3089px;

    margin-left: 27px;
}

.Discover{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin-top: 25.8px;
    color: #262525;
}

.Menu_Inferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0px; */

    position: absolute;
    width: 428px;
    height: 93px;
    left: -1px;
    top: 833px;

    background: #FFFFFF;
    border-radius: 50px;
}

.inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    
}

.inferior img{
    margin-right: 75.9px;
}