@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;600;700&family=Roboto:wght@500&display=swap');

*{  font-family: 'Manrope', sans-serif;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.contenedor_gloval{
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* justify-content: end; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;



    background: #EEF1F4;
}

.icono_central{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2);
    top: calc(50% - 24px/2 - 1px);

}

header{
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 50px;


    text-align: center;
}

.header_letras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 339px;
    height: 183px;
    left: 0px;
    top: 0px;

    margin-top: 525px;
    

}

.Titular{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    margin-bottom:0px ;

    text-align: center;

    color: #000000;
}

/* h2{
    margin-top:20px ;
} */
.Secundario{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
}
.start{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 66.93px;
    left: 44.5px;
    top: 231px;
    margin-top: 48px;


    background: #667080;


    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.letras_start{

    width: 55px;
    height: 21px;
    left: 142.5px;
    top: 255px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}